In [1]:
import numpy as np
np.random.seed(12345)
np.set_printoptions(precision=4, suppress=True)

In [3]:
import numpy as np
data = [np.random.standard_normal() for i in range(7)] # 리스트 표기법
data

ModuleNotFoundError: No module named 'numpy'

In [4]:
a = [1, 2, 3]

In [5]:
b = a
b

[1, 2, 3]

In [6]:
a.append(4)
b

[1, 2, 3, 4]

In [6]:
def append_element(some_list, element):
    some_list.append(element)

In [7]:
data = [1, 2, 3]
append_element(data, 4)
data

In [8]:
a = 5
type(a)
a = "foo"
type(a)

In [9]:
"5" + 5

In [10]:
# 숫자 간 자동 형변환 가능
a = 4.5
b = 2
# String formatting, to be visited later
print(f"a is {type(a)}, b is {type(b)}")
a / b

# 6. 내장 함수 : isinstance()

In [2]:
a = 5
isinstance(a, int)

True

In [8]:
a = 5; 
b = 4.5
isinstance(a, (int, float))
isinstance(b, (int, float))

True

# 7. 내장함수 : iter()
* str
* list
* tuple

In [15]:
def isiterable(obj):
    try:
        iter(obj) # iter 호
        return True
    except TypeError: # not iterable
        return False

In [4]:
isiterable("a string")
isiterable([1, 2, 3])
isiterable(5)

NameError: name 'isiterable' is not defined

In [5]:
5 - 7
12 + 21.5
5 <= 2

False

In [10]:
# 8. key word : is, is not
* is : 두 개의 객체가 동일 여부 확인
* is not : 두 개의 객체가 상이한지 여부 확인

SyntaxError: invalid syntax (1953775254.py, line 2)

In [7]:
a = [1, 2, 3] # list
b = a # b가 a를 참조함
c = list(a) # 새로운 객체가 생성
a is b
a is not c

True

In [8]:
a == c # 객체의 내용 비교

True

# 9. None 객체
* 파이썬 결측값 null

In [11]:
a = None
a is None

True

# 10. list 자료형
* iterable 객체
* vr = []
* vr = list()
* mutable 객체
  * 수정, 삭제, 추가
  * 조회 : 인덱싱
    * 변수명[정수]
  * 추출 : 슬라이싱
    * 변수명[start:end:step]
* 메서드 :
  * 변수명.count()
* 연산자 : +, *

In [15]:
a_list = ["foo", 2, [4, 5]]
a_list[2] = (3, 4)
a_list

['foo', 2, (3, 4)]

# 11. tuple 자료형 
* iterable 객체
* vr = ()
* vr = tuple()
* immutable 객체
    * 조회 : 인덱싱
        * 변수명[정수]
    * 추출 : 슬라이싱
        * 변수명[start:end:step]
*  메서드 :
*  tup.count()
*  연산자 : +, *

In [21]:
a_tuple = (3, 5, (4, 5))
a_tuple[1] = "four"

TypeError: 'tuple' object does not support item assignment

In [23]:
ival = 17239871
ival ** 6

In [24]:
fval = 7.243
fval2 = 6.78e-5

In [25]:
3 / 2

In [26]:
3 // 2

# 12. str 자료형
* iterable 객체
* vr = "   "
* vr = str()
* immutable 객체
    * 조회 : 인덱싱
        * 변수명[정수]
    * 추출 : 슬라이싱
        * 변수명[start:end:step]
* 메서드 :
  * str.count()
  * str.replace()
* 연산자 : +, *

In [24]:
c = """
This is a longer string that
spans multiple lines
"""

In [26]:
c.count("\n")

3

In [38]:
a = "this is a string"
a[10] = "f"

TypeError: 'str' object does not support item assignment

In [47]:
b = a.replace("string", "longer string") # 수정 -> 새로운 문자열
b
a

'this is the first half '

In [30]:
a = 5.6
s = str(a)
print(s)

5.6

In [31]:
s = "python"
list(s)
s[:3] # s[0:3:1]

'pyt'

In [48]:
a = "this is the first half "
b = "and this is the second half"
a + b

'this is the first half and this is the second half'

### <문자열 포맷 방법>

In [49]:
template = "{0:.2f} {1:s} are worth US${2:d}" # method1
template.format(88.46, "Argentine Pesos", 1)

'88.46 Argentine Pesos are worth US$1'

In [52]:
amount = 10 # method2
rate = 88.46
currency = "Pesos"
result = f"{amount} {currency} is worth US${amount / rate}"
result

'10 Pesos is worth US$0.11304544426859599'

# 13. 문자열 인코딩 & 디코딩
* str.encoding()
* decoding()

In [53]:
val = "español"
val

'español'

In [54]:
val_utf8 = val.encode("utf-8")
val_utf8
type(val_utf8)

bytes

In [55]:
val_utf8.decode()

'español'

In [44]:
val.encode("latin1")
val.encode("utf-16")
val.encode("utf-16le")

# 14. Bool

In [56]:
True and True
False or True

True

In [57]:
int(False) # 0
int(True) # 1

1

In [58]:
a = True
b = False
not a
not b

True

In [48]:
s = "3.14159"
fval = float(s)
type(fval)
int(fval)
bool(fval)
bool(0)

In [49]:
a = None
a is None
b = 5
b is not None

# 15. 시계열 데이터 처리
* datetime
* datetime.timedelta

In [60]:
from datetime import datetime, date, time
dt = datetime(2011, 10, 29, 20, 30, 21)
dt.day
dt.minute

30

In [61]:
dt.date()
dt.time()

datetime.time(20, 30, 21)

In [62]:
dt.strftime("%Y-%m-%d %H:%M")

'2011-10-29 20:30'

In [63]:
datetime.strptime("20091031", "%Y%m%d")

datetime.datetime(2009, 10, 31, 0, 0)

In [65]:
dt_hour = dt.replace(minute=0, second=0)
dt_hour

datetime.datetime(2011, 10, 29, 20, 0)

In [64]:
dt

datetime.datetime(2011, 10, 29, 20, 30, 21)

In [56]:
dt2 = datetime(2011, 11, 15, 22, 30)
delta = dt2 - dt # 시간 차
delta
type(delta)

In [57]:
dt
dt + delta

In [58]:
a = 5; b = 7
c = 8; d = 4
if a < b or c > d:
    print("Made it")

In [59]:
4 > 3 > 2 > 1

# 16. generator : 
* range()
* enmurate()
* zip()
* map()

In [67]:
range(10) # generator 객체
list(range(10)) # 데이터 접근

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [70]:
for i in range(4):
    for j in range(4):
        if j > i:
            break
        print((i, j))

(0, 0)
(1, 0)
(1, 1)
(2, 0)
(2, 1)
(2, 2)
(3, 0)
(3, 1)
(3, 2)
(3, 3)

In [68]:
list(range(0, 20, 2))
list(range(5, 0, -1))

[5, 4, 3, 2, 1]

In [69]:
seq = [1, 2, 3, 4]
for i in range(len(seq)):
    print(f"element {i}: {seq[i]}")

element 0: 1
element 1: 2
element 2: 3
element 3: 4

In [71]:
total = 0
for i in range(100_000):
    # % is the modulo operator
    if i % 3 == 0 or i % 5 == 0:
        total += i
print(total)

2333316668